<div class="mt-4" style="padding: 0px 15px;">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
    </nav>
    <h4 class="text-center">Danh sách tin tức</h4>
    <div class="d-flex justify-content-between">
        <a href="tin-tuc/them-moi" type="button" class="btn btn-success">Thêm mới</a>
        <a href="/tin-tuc/thung-rac" type="button" class="btn btn-primary" style="height:32px"><i
                class="bi bi-trash"></i></a>
    </div>
    <table class="table table-bordered mt-4" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Danh mục</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each news}}
            <tr>
                <th>{{sum @index 1}}</th>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.categoryId.category}}</td>

                <td>
                    {{!-- <a href="tin-tuc/chi-tiet/{{this._id}}" type="button" class="btn btn-primary">Chi tiết</a>
                    --}}
                    <a href="tin-tuc/chi-tiet/{{this._id}}" type="button" class="btn btn-primary"><i
                            class="fa fa-info-circle"></i></a>
                    <a href="/tin-tuc/{{this._id}}/sua" type="button" class="btn btn-secondary"><i
                            class="bi bi-pencil-square"></i></a>
                    <a href="" type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-news-modal" data-id="{{this._id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">Danh sách trống,
                    <a href="/tin-tuc/them-moi">thêm mới tin tức</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-news-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa tin tức</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="btn-delete-news" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form method="post" name="delete-news-form">

</form>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = document.getElementById('delete-news-modal');
        var deleteForm = document.forms['delete-news-form'];

        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                const id = button.getAttribute('data-id');

                var btnDeleteNews = document.getElementById('btn-delete-news');

                btnDeleteNews.onclick = function () {
                    deleteForm.action = '/tin-tuc/' + id + '?_method=DELETE';
                    deleteForm.submit();
                }
            });
        }
    });
</script>