<div class="mt-4" style="padding: 0px 15px;">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/tin-tuc">Tin tức</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thùng rác</li>
        </ol>
    </nav>
    <h4 class="text-center">Tin tức đã xóa</h4>
    <table class="table table-bordered mt-4" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Danh mục</th>
                <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each news}}
            <tr>
                <th>{{sum @index 1}}</th>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.category}}</td>
                <td>
                    <a href="" type="button" class="btn btn-success btn-restore" data-id="{{this._id}}"><i
                            class="bi bi-arrow-counterclockwise"></i></a>
                    <a href="" type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-news-modal" data-id="{{this._id}}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">Thùng rác trống
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-news-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa tin tức</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hành động này không thể khôi phục. Bạn chắc không?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="btn-delete-news" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form method="post" name="delete-news-form">
</form>

{{!-- restore hidden form --}}
<form method="post" name="restore-news-form">
</form>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = document.getElementById('delete-news-modal');
        const deleteForm = document.forms['delete-news-form'];
        const restoreForm = document.forms['restore-news-form'];

        const restoreBtns = document.querySelectorAll('.btn-restore');

        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                const id = button.getAttribute('data-id');

                var btnDeleteNews = document.getElementById('btn-delete-news');

                btnDeleteNews.onclick = function () {
                    deleteForm.action = '/tin-tuc/' + id + '/xoa/?_method=DELETE';
                    deleteForm.submit();
                }
            });
        }

        restoreBtns.forEach(function (restoreBtn) {
            restoreBtn.addEventListener('click', function (event) {
                var id = this.getAttribute('data-id');
                restoreForm.action = '/tin-tuc/' + id + '/khoi-phuc?_method=PATCH';
                restoreForm.submit();
                event.preventDefault();
            });
        });

    });


</script>